#style-switcher h2 a {
    background: #f2a1fb;
}
.audio-btn {
	color: #f2a1fb;
	border: 2px solid #f2a1fb;
}
.sidenav, .event, .audio-btn:hover {
    background: #f2a1fb;
}
.nav-weds.is-active .navicon, .heartbeat, .nav-weds.is-active .navbar-brand, .nav-weds.is-active .navbar-nav > li > a, .navbar-nav > li > a:hover, .ico i, .couples .heartico i, .story .container .box .item h4, .timer-body-block .table-cell .tab-val, .journal .box h5, .owl-theme .owl-dots .owl-dot.active span::after {
	color: #f2a1fb;
}
.mask, .pepoles-row .box figure .overlay, .gallery-masonry .item .box a::after {
   background: rgba(243, 131, 255, 0.69);
}
.rsvp .rsvp-box {   
   background: rgb(243, 131, 255);
}
.sidenav ul li a {
border-bottom: 1px solid #f8b9ff;
}


